* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --hue: 0;
  --text-color: hsl(var(--hue) 46% 35%);
  --background-color: hsl(var(--hue) 100% 90%);
  --background-div-color: hsla(var(--hue), 41.1%, 78%, 0.432);
  --background-input: hsl(var(--hue) 37.5% 90.6%);
  --border-input: hsl(var(--hue) 30.1% 75.9%);
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

#logo p {
  font-size: 2.4rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
  margin-right: 20rem;
}

#logo p span {
  color: var(--text-color);
}

#logo img {
  width: 8rem;
}

#form {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#form div {
  display: flex;
  flex-direction: column;
  background-color: var(--background-div-color);
  width: 50rem;
  height: 40rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

#form div label {
  font-size: 2.4rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

#form #timer {
  font-size: 4rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--text-color);
}

#form div input,
#form div button {
  height: 4rem;
  margin-bottom: 1rem;
  border: 0.2rem solid var(--border-input);
  padding: 0 1.6rem;
  background-color: var(--background-input);
  border-radius: 0.8rem;
}

#form div button {
  width: 14rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  cursor: pointer;
  transition: filter 0.3s;
}

#form div button:hover {
  filter: brightness(1.05);
}

#form div input {
  width: 28rem;
  font-family: 'Poppins', sans-serif;
}

#form div input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

#form div.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
